.logo{
  height: 3.5rem;
  margin-left: 2rem;
}

.search{
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $bp-smallest) {
    order:1;
    flex: 0 0 100%;
    background-color: $color-light-grey-2;
  }

  &__input{
    font-family: inherit;
    font-size: inherit;
    background-color: $color-light-grey-2;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    margin-right: -3.25rem;
    &:focus{
      width: 100%;
      outline: none;
      background-color: $color-light-grey-3;
      transition: all 0.1s;
    }
    &::-webkit-input-placeholder{
      font-weight: 100;
      color:$color-light-grey-4;
    }
  }

  &__input:focus + &__button{
    background-color: $color-light-grey-3;
  }

  &__button{
    background-color: $color-light-grey-2;
    border: none;
    &:focus{
      outline: none;
    }
    &:active{
      transform: translateY(2px);
    }
  }

  &__icon{
    height: 2rem;
    width: 2rem;
    fill: $color-dark-grey-3;
  }
}

.user-nav{
  display: flex;
  align-self: stretch;
  align-items: center;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & > *:hover {
    padding: 0 2rem;
    cursor: pointer;
    background-color: $color-light-grey-2;
  }

  &__icon-box{
    position: relative;
    
  }
  &__icon{
    height: 2.25rem;
    width: 2.25rem;
    align-items: center;
    fill: $color-dark-grey-2;
  }

  &__notification{
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: $color-primary;
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  &__user{

  }

  &__user-photo{
    height: 3.75rem;
    border-radius: 50%;
   
  }
  &__user-name{
    margin-left: 1rem;
  }
}

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  @media only screen and (max-width: $bp-medium) {
    display:flex;
    margin: 0;
  }

  &__item {
    position: relative;
    &:not(:last-child){
      margin-bottom: 0.5rem;
      @media only screen and (max-width: $bp-medium) {
        margin-bottom: 0;
      }
    }
    @media only screen and (max-width: $bp-medium) {
      flex: 1;
    }
  }

  &__item::before{
    content: "";
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 3px;
    background-color: $color-primary;
    transform: scaleY(0);
    transition: transform .2s,
                width 0.4s cubic-bezier(1,0,0,1) 0.2s,
                background-color 0.2s;   
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__item--active::before{
    background-color: $color-primary;
  }

  &__link:link,
  &__link:visited{
    z-index: 10;
    position: relative;
    color: $color-light-grey-1;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    @media only screen and (max-width: $bp-medium) {
      justify-content: center;
      padding: 2rem;
    }

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1.5rem 0.5rem;
    }
  }
 
  &__icon{
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: $color-light-grey-1;

    @media only screen and (max-width: $bp-small) {
      margin-right: 0rem;
      margin-bottom: 0.7rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.legal{
  font-size: 1.2rem;
  color: $color-light-grey-4;
  text-align: center;
  padding: 2.5rem;
  @media only screen and (max-width: $bp-medium) {
    display:none;
  }
}

.gallery{
  display: flex;
  &__item{
  
  }
  &__photo{
    width: 100%;
    display: block;
  }
}

.overview{
  display: flex;
  align-items: center;
  border-bottom: 1px solid $color-light-grey-2;
 &__heading{
  font-size: 2.25rem;
  font-weight: 300;
  padding: 1.5rem 3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  @media only screen and (max-width: $bp-small) {
    font-size: 1.8rem;
    padding: 1.25rem 2rem;
  }
 }

 &__stars{
  margin-right: auto;
  display: flex;
 }

 &__icon-star,&__icon-location {
  width: 1.75rem;
  height: 1.75rem;
  fill: $color-primary;
 } 

 &__location{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
 }

 &__icon-location{
   margin-right: 0.5rem;
 }

 &__rating{
  background-color: $color-primary;
  margin-left: 3rem;
  color: #fff;
  padding: 1.2rem 2.25rem;
  align-self: stretch;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: $bp-small) {
    padding: 1rem 1.5rem;
  }
 }
 
 &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: 3px;
    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
    }
 }

 &__rating-count{
  font-size: .8rem;
  font-weight: 300;
  text-transform: uppercase;
  @media only screen and (max-width: $bp-small) {
    font-size: 0.7rem;
  }
 }
 
}

.btn-inline{
  border: none;
  color: $color-primary;
  font-size: inherit;
  border-bottom: 1px solid $color-primary;
  padding: 2px;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  transition: all 0.2s;
  
  &:hover{
    color: $color-dark-grey-1;
    border-bottom: 1px solid $color-dark-grey-1;
  }

  &::focus{
    outline: none;
  }
}


.paragraph:not(:last-of-type){
  margin-bottom: 2rem;
}

.list {
  list-style: none;
  padding: 3rem 0;
  margin: 3rem 0;
  border-top: 1px solid $color-light-grey-2;
  border-bottom: 1px solid $color-light-grey-2;
  display:flex;
  flex-wrap: wrap;

  &__item{
    flex: 0 0 50%;
    padding-bottom: 0.7rem;
  }
  &__item::before{
    content: "";
    width: 1rem;
    height: 1rem;
    margin-right: 0.7rem;
    display: inline-block;

    // background-size: cover;
    // background-image: url('../img/chevron-thin-right.svg');

    background-color: $color-primary;
    -webkit-mask-image: url('../img/chevron-thin-right.svg');
    -webkit-mask-size: cover;

    mask-image: url('../img/chevron-thin-right.svg');
    mask-size: cover;

  }
}

.recommend{
  font-size: 1.3rem;
  color:$color-dark-grey-3;
  display: flex;
  align-items: center;

  &__photo{
    box-sizing: content-box;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 3px solid #fff;
    &:not(:last-child){
      margin-right: -2rem;
    }

  }

  &__count{
    margin-right: auto;
  }
}

.review{
  background-color: #fff;
  padding: 3rem;
  position: relative;
  margin-bottom: 3.5rem;
  overflow: hidden;
  box-shadow:0 2rem 5rem rgba(0,0,0, 0.06);
  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-bottom: 3rem;
  }
 
  &__text{
    margin-bottom: 1.3rem; 
    z-index: 10;
    position: relative;
  }

  &__user{
    display: flex;
    align-items: center;
  }

  &__friends{
    display: flex;
  }

  &__photo{
    height: 4.5rem;    
    width: 4.5rem;    
    border-radius: 50%;
    margin-right: 1.2rem;
  }

  &__ratings{
    color: $color-primary;
    font-size: 1.5rem;
  }

  &__user-box{
    margin-right: auto;
  }

  &__user-name{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .4rem;
  }
  
  &__user-date{
    font-size: 1rem;
    color: $color-dark-grey-3;
  }

  &::before{
    content:"\201C";
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    line-height: 1;
    font-size: 20rem;
    color: $color-light-grey-2;
    font-family: sans-serif;
  }
}

.cta {
  padding: 3.5rem 0;
  text-align: center;

  @media only screen and (max-width: $bp-medium) {
    padding: 2.75rem 0;
  }

  &__book-now {
      font-size: 2rem;
      font-weight: 300;
      text-transform: uppercase;
      margin-bottom: 2.5rem;
      @media only screen and (max-width: $bp-medium) {
        font-size: 1.5rem;
      } 
  }
}

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  padding: 1.5rem 2rem; 
  transition: all .2s;

  &:hover {
      background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  }
  &:focus {
      outline: none;    
  }
}


