.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: $color-light-grey-1;
  box-shadow: 0 2rem 6rem  rgba(0,0,0,0.3);
  min-height: 50rem;

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    width: 100%;
    max-width: 100%;
  } 
  }
